body {
	font-family: sans-serif;
}

/*
HEADER
Külön wrapper azért van hogy a header színe kiérjen a lap széléig.
Logó bal oldalon, mellette az üdvözlő szöveggel,
alattuk a menü, bejelentkezés jobb oldalra igazítva.
Logó + szöveg eltűnik.
*/
header {
	color: #00562C;
	background-color: #A1FA4F;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	z-index: 100;
}
.header-content-wrapper {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 0 4px 0;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/* overflow: hidden; */
	top: 0;
	width: 100%;
}
nav li {
	float: left;
	margin-right: 10px;
	margin-top: 4px;
}
nav li a {
	display: block;
	text-decoration: none;
}

/* A jelenlegi oldal kiemelése a menüben */
.current-page {
	background-color: #00562C;
	border: 2px solid #00562C;
	border-radius: 12px;
	padding: 10px 20px;
	color: #A1FA4F;
}
.other-page {
	background-color: #A1FA4F;
	border: 2px solid #00562C;
	border-radius: 12px;
	padding: 10px 10px;
	color: #00562C;
}
.other-page:hover {
	background-color: #00562C;
	color: #A1FA4F;
}

/* */
.header-above-nav {
	display: flex;
	align-items: flex-start;
	height: 56px;
}

/* Reg, Login/Logout jobbra (kis képernyőnél, mikor 2 sorban írja ki) */
.user li {
	float: right;
}

/* Menu a szöveg alatt amíg nem kell eltűntetni. */
.menu {
	margin-left: 120px;
}

@media screen and (max-width: 855px) {
	.header-above-nav {
		display: none;
	}
	.menu {
		margin-left: 0;
	}
}

/* Header, footer logója */
.logo {
	display: flex;
	align-items: flex-start;
	
	margin-top: 3px;
	padding-right: 20px;
	max-width: 100px;
}
.logo img {
	width: 100%;
}

/*
FOOTER
Külön wrapper azért van hogy a footer színe kiérjen a lap széléig, de a szöveg túl széles böngésző ablakban középen maradjon
*/
footer {
	color: #00562C;
	background-color: #A1FA4F;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 105px;
	z-index: 100;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.footer-content-wrapper {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: flex-start;
}
.footer-content-wrapper h3 {
	margin-top: 1px;
}
.footer-left {
	display: flex;
	align-items: flex-start;
}
.footer-left ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/*
MAIN
flex display egymás mellé tol elemeket, nem jó
A wrapper itt talán elhagyható, mert ugyan az a háttér mint a body-ban is
A fix header miatt kell a padding
#TODO - @media-val a margin top és bottomokat lehetne állítani, hogy a header és footer ne takarja el a tartalmat amikor megnövekszik az egymás alá csúszó nvabar menüpontok miatt
*/

main {
	margin-top: 126px;
	margin-bottom: 120px;
}

.fooldal {
	background-image: url('../img/fooldal_hatter.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/* color: white; */
	background-color: #00562C;
	margin-top: 150px;
	margin-bottom: 120px;
}
.egyeboldal {
	background-color: #00562C;
}
.main-content-wrapper {
	color: white;
	background-color: #00562C;
	max-width: 1300px;
	margin: 0 auto;
}



/* fooldal */
.index-content-wrapper {
	color: #00562C;
	justify-content: center;
	align-items: center;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
}
.fooldal_szoveg {
	font-weight: bold;
}



/* jegyek */
/* több oszlop a jegyek oldalon */
.main_multicolumn-content-wrapper {
	color: white;
	background-color: #00562C;
	max-width: 1300px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
/* bal oldali oszlop - JEGYEK */
.left-column {
	width: 55%;
}
.left-column table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 12px;
}
.left-column table th, .left-column table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}
.left-column table th {
	background-color: #4CAF50;
	color: white;
}
/* jobb oldali oszlop - KOSÁR */
.right-column {
	width: 35%;
	padding: 20px 20px;
}
.kosar {
	border: 2px solid white;
	border-radius: 12px;
	padding: 20px 20px;
}

/*oszlopok a többi oldalhoz (kapcsolat, regisztráció/bejelentkezés*/
.left-column2 {
	width: 40%;
	padding: 6px 6px;
}
.right-column2 {
	width: 50%;
	padding: 6px 6px;
	display: flex;
	justify-content: center;
}

@media (max-width: 625px) {
	.main_multicolumn-content-wrapper {
		flex-direction: column;
	}
	.left-column, .right-column, .left-column2, .right-column2 {
		width: 100%;
	}
}

/* jegy gombok */
.jegyhozzaad {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 65px;
}
/* .jegy-btn {
	border: 2px solid white;
	background-color: #00562C;
	color: white;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.jegy-btn:hover {
	background-color: white;
	color: #00562C;
} */
.jegyhozzaad input[type="number"] {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 2px;
}


/* áttesztő hátterű képek, méret szabályozás id alapján */
.transparent_bg_img {
	max-width: 1300px;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.transparent_bg_img img {
	max-width: 100%;
	height: auto;
}



/* hirek */
.hirbox {
	padding: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 1300px;
	max-height: 1500px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: row;
}
/* .hirbox:hover {
	border: 2px solid white;
	border-radius: 12px;
	padding: 10px;
} */
.date {
	font-style: italic;
}
.centered {
    text-align: center;
}
.hir_body {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	max-height: 1400px;
}
.hir_comments {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	max-height: 1400px;
}
.hir_body video {
	width: 100%;
	max-width: 705px;
	height: auto;
}
.hir_body img {
	max-width: 100%;
	height: auto;
}
@media (max-width: 800px) {
	.hir_box {
		flex-direction: column;
	}
	.hir_body, .hir_comments {
		width: 100%;
	}
}
/* likeok, válaszok */
.heart-icon:before {
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
	font-size: 18px;
	border-color: white;
	color: #aab9b2;
}
.heart-icon.filled:before {
    color: yellow;
}
.answer-icon:before {
    content: "\f086";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 18px;
	border-color: white;
    color: #03331c;
}
.trash-icon:before {
    content: "\f1f8";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 18px;
    border-color: white;
    color: #aab9b2;
}
/* kommentek */
.c_aux img {
	width: 20px;
	height: 20px;
}
.comment,
.answer {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 6px;
}
.answer td, .comment td {
	border: 1px solid #ddd;
	padding: 5px;
	text-align: left;
}
.c_aux {
	background-color: #4CAF50;
	color: white;
	margin: 2px;
}
.c_aux p {
	margin: 3px;
}



/* kapcsolat */
.social-media-icons {
	display: flex;
	gap: 10px;
	list-style-type: none;
}
.social-media-icons img {
	max-width: 40px;
	height: auto;
}
#l1 {
	list-style-type: none;
}



/*regisztráció*/
.reg_urlap {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}
.reg_urlap textarea,
.reg_urlap input[type="email"],
.reg_urlap input[type="text"],
.reg_urlap input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
}
/*reset, submit gombok és hibaüzenetek egységes stílussal*/
input[type="reset"],
input[type="submit"] {
	padding: 10px;
	border: none;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	font-size: 15px;
}
input[type="reset"],
.submitclass {
	width: 45%;
}
.commentsubmit,
.commentreset {
	width: 100%;
	padding: 5px;
	border: none;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	font-size: 10px;
}
.fizetes,
.kosarurit {
	width: 100%;
}
.fizetes,
.commentsubmit,
.submitclass {
	background-color: #55c058;
}
.fizetes:hover,
.commentsubmit:hover,
.submitclass:hover {
	background-color: #419746;
}
input[type="reset"] {
    background-color: grey;
    margin-right: 6%;
}
input[type="reset"]:hover {
    background-color: rgb(90, 90, 90);
}
.kosarurit,
.commentreset {
	background-color: grey;
}
.commentreset:hover,
.kosarurit:hover {
    background-color: rgb(90, 90, 90);
}
.formgomb {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.formgomb form {
    width: 50%;
}
.error-message {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.success-message {
    color: #155724;
    background-color: #94eca8;
    border-color: #6ed185;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    animation: fadeOut 5s ease-out forwards;
}
.neutral-message {
    color: #313536;
    background-color: #bebfc0;
    border-color: #7e8181;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
	animation: fadeOut 5s ease-out forwards;
}


/*kép animációk*/
@keyframes slideInFromRight {
	0% {
		transform: translateX(100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slideInFromLeft {
	0% {
		transform: translateX(-100%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes slideInFromUp {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes slideInFromDown {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
.jobbrol {
	animation: slideInFromRight 2s ease-out;
}
.balrol {
	animation: slideInFromLeft 4s ease-out;
}
.felulrol {
	animation: slideInFromUp 3s ease-out;
}
.alulrol {
	animation: slideInFromDown 1s ease-out;
}
