body {
    font-family: sans-serif;
}
.fooldal {
    background-image: url('../img/fooldal_hatter.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* color: white;
    background-color: #00562C; */
    margin-top: 150px;
    margin-bottom: 120px;
}
.egyeboldal {
    background-color: #00562C;
}

/*
HEADER
logó bal oldalon, jobb oldalon üdvözlő szöveg, alatta navigáció
Külön wrapper azért van hogy a header színe kiérjen a lap széléig, de a szöveg túl széles böngésző ablakban középen maradjon
*/
header {
    color: #00562C;
    background-color: #A1FA4F;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* z-index: 100; */
}
header img {
    height: 120px;
}
.header-content-wrapper {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
}
.header-text-content-wrapper {
    align-items: right;
    width: 80%;
}
.header_logo {
    align-items: left;
    width: 20%;
    padding: 10px;
}
.navigacio {
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    justify-content: left;
    list-style-type: none;
}
.user {
    display: flex;
    justify-content: right;
    list-style-type: none;
}
.navigacio ul li {
    margin-right: 10px;
}
/* A jelenlegi oldal kiemelése a menüben */
.current-page {
    background-color: #00562C;
    border-radius: 12px;
    padding: 10px 20px;
    color: #A1FA4F;
}
.other-page {
    background-color: #A1FA4F;
    border: 2px solid #00562C;
    border-radius: 12px;
    padding: 10px 10px;
    color: #00562C;
}
.other-page:hover {
    background-color: #00562C;
    color: #A1FA4F;
}


/*
MAIN
flex display egymás mellé tol elemeket, nem jó
A wrapper itt talán elhagyható, mert ugyan az a háttér mint a body-ban is
A fix header miatt kell a padding
*/
main {
    margin-top: 160px;
    margin-bottom: 120px;
}
.main-content-wrapper {
    color: white;
    background-color: #00562C;
    max-width: 1300px;
    margin: 0 auto;
}
.index-content-wrapper {
    color: #00562C;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}
.fooldal_szoveg {
    font-weight: bold;
}
/* áttesztő hátterű képek, méret szabályozás id alapján */
.transparent_bg_img {
    max-width: 1300px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.transparent_bg_img img {
    max-width: 100%;
    height: auto;
}
/* több oszlop a jegyek oldalon */
.main_multicolumn-content-wrapper {
    color: white;
    background-color: #00562C;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/* bal oldali oszlop - JEGYEK */
.left-column {
    width: 55%;
}
.left-column table {
    width: 100%;
    border-collapse: collapse;
}
.left-column table th, .left-column table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.left-column table th {
    background-color: #4CAF50;
    color: white;
}
/* jobb oldali oszlop - KOSÁR */
.right-column {
    width: 35%;
    padding: 20px 20px;
}
.kosar {
    border: 2px solid white;
    border-radius: 12px;
    padding: 20px 20px;
}
@media (max-width: 600px) {
    .main_multicolumn-content-wrapper {
        flex-direction: column;
    }
    .left-column, .right-column {
        width: 100%;
    }
}
/* jegy gombok */
.jegyhozzaad {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.jegy-btn {
    border: 2px solid white;
    background-color: #00562C;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jegy-btn:hover {
    background-color: white;
    color: #00562C;
}
/* hirek */
.hirbox span {
    font-style: italic;
}
.hir_body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: start; /* This will align the items to the start of the container */
}
.hir_body video {
    display: flex;
    flex: 1 0 auto; /* This will allow the video to take up any remaining space */
    margin-left: 20px; /* This will add some space between the text and the video */
}


/*
FOOTER
Külön wrapper azért van hogy a header színe kiérjen a lap széléig, de a szöveg túl széles böngésző ablakban középen maradjon
*/
footer {
    color: #00562C;
    background-color: #A1FA4F;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    /* z-index: 100; */
    justify-content: space-around;
    align-items: center;
}
.footer-content-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    justify-content: space-around;
	align-items: center;
}







